body {
    background-image: url("https://cdn.pixabay.com/photo/2016/12/23/07/49/christmas-table-1926936_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}