{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                {% if contacted %}
                <div class="alert alert-success" role="alert">
                    Thank you, your review will be displayed on our site soon!
                </div>
                <a class="btn btn-primary text-uppercase mt-3" href="{% url 'review' %}">Back to Reviews</a>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Did you have a good time?</h3> 
                <p>Please fill out the form below to post a review to our site for everyone to see!!</p>
                <div class="my-5">
                    <form id="contactForm" method="post" enctype="multipart/form-data">
                        {{ contact_form | crispy }}
                        {% csrf_token %}
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase mt-3" id="submitButton" type="submit">Send</button>
                    </form>
                </div>

                {% else %}
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">

                        <h3>To leave a review, please log in. If you have not created an account yet, then register
                            first.</h3>
                    </div>
                </div>

                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock %}