{% extends "base.html" %}

{% block content %}

<div class="text-center">
    <h1>MENU</h1>
    <h3>Starters</h3>
    <p>Starer and price</p>
    <p>Starer and price</p>
    <p>Starer and price</p>
    <p>Starer and price</p>
    <h3>Mains</h3>
    <p>Main and price</p>
    <p>Main and price</p>
    <p>Main and price</p>
    <p>Main and price</p>
    <h3>Dessert</h3>
    <p>Dessert and price</p>
    <p>Dessert and price</p>
    <p>Dessert and price</p>
    <p>Dessert and price</p>
</div>

{% endblock content %}