{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-10 mx-auto col-12 text-center mb-3">
            <h1>Our Menu</h1>
            <p>Begin with one of our signature cocktails, please ask your server for more detail's</p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Starters</h3>
        </div>

        <div class="text-center">
            <p><b>Bruschetta - </b>Toasted Tuscan bread with sun-ripened beef tomatoes (V) <i>€7.50</i></p>
            <p><b>Bruschetta - </b>Garlic bread topped with creamy mushrooms, shaved parmesan & chives (V) <i>€7</i></p>
            <p><b>Chicken Wings - </b>Free-range chicken wings marinated in fresh Italian herbs and spices with chilli
                sauce and garlic dip <i>€9</i></p>
            <p><b>Dough Balls - </b>A double portion of our baked dough balls with a trio of homemade dips. Basil pesto,
                sun-blushed tomato pesto & garlic butter (V option) <i>€8</i></p>
            <p><b>Deep fried Brie - </b>Served with rocket salad & strawberry chilli jam <i>€8</i></p>
            <p><b>Fish cakes - </b>Served on rocket leaves and parmesan cheese <i>€9</i></p>
            <p><b>Goats cheese salad - </b>Goats cheese, beetroot salsa with mixed leaves, cherry tomatoes & croutons
                with a honey & balsamic dressing (V) <i>€12</i></p>
            <p><b>Antipasti - </b>Selection of cured meats, Italian cheese, sun-dried tomatoes with pickled home-grown
                vegetables. Served with our homemade bread <i>€14</i></p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Main Plates</h3>
        </div>
        <div class="text-center">
            <p><b>Spinach & Ricotta Tortellini - </b>With a creamy asparagus, white wine, shallot & parmesan sauce (V)
                <i>€14</i></p>
            <p><b>Pasta Con Carne - </b>Spicy chorizo & sausages tossed with penne in a rich sun-blushed tomato & olive
                sauce <i>€16</i></p>
            <p><b>Chicken Carbonara - </b>Chicken, pancetta & wild mushrooms in a cream & egg sauce with tagliatelle
                <i>€16.50</i></p>
            <p><b>Chicken Di Bosco - </b>Two chicken breasts wrapped in Parma ham, with a creamy mushroom sauce
                <i>€17</i></p>
            <p><b>Meatballs alla Mark - </b>Pork & beef mince balls in tomato sauce with spaghetti <i>€17</i></p>
            <p><b>Seared fillet of Sea bass - </b>Served with lemon mash and roast vegetable ratatouille <i>€21</i></p>
            <p><b>Baked Irish salmon with herbed crust - </b>Served with roasted vegetables and mash potatoes <i>€22</i>
            </p>
            <p><b>Moules-frites - </b>1 Kg fresh mussels, fresh garlic & parsley in a white wine sauce & hand cut
                chips <i>€24</i></p>
            <p><b>Chargrilled Striploin Steak - </b>Roasted vegetables, Green Peppercorn Sauce, hand cut chips
                <i>€25</i></p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Pizza</h3>
        </div>

        <div class="text-center">
            <p><b>Margherita - </b>Tomato sauce, fresh mozzarella & basil (V) <i>€11</i></p>
            <p><b>Pepperoni - </b>Tomato sauce, fresh mozzarella & pepperoni <i>€13</i></p>
            <p><b>Vegetarian - </b>Tomato sauce, fresh mozzarella, aubergines, peppers & courgettes (V) <i>€13</i></p>
            <p><b>Marks Special - </b>Tomato sauce, fresh mozzarella, pineapple, sweetcorn, chicken, bacon <i>€16</i>
            </p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Desserts</h3>
        </div>

        <div class="text-center">
            <p><b>Crème Brûlée - </b>With Cinnamon Spiced Garibaldi Biscuit <i>€8</i></p>
            <p><b>Salted Caramel Doughnut - </b>With Vanilla Ice Cream <i>€7</i></p>
            <p><b>Sticky Toffee Pudding - </b>Hot sponge pudding with toffee sauce & ice cream <i>€7</i></p>
            <p><b>Selection of ice cream - </b>Vanilla, Chocolate and Strawberry <i>€6</i></p>
            <p><b>Selection of Cheese - </b>Spiced Fig Chutney, Cheese Crackers <i>€13</i></p>
            <p><b>Marks Affogato - </b>Vanilla ice cream covered with a shot of Espresso coffee <i>€6</i></p>
        </div>


        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Hot Beverages</h3>
        </div>

        <div class="text-center">
            <p><b>Espresso </b><i>€3.00</i></p>
            <p><b>Americano | DE cafe </b><i>€3.20</i></p>
            <p><b>Double Expresso </b><i>€3.25</i></p>
            <p><b>Cappuccino | Latte </b><i>€2.95</i></p>
            <p><b>Hot Chocolate </b><i>€2.20</i></p>
            <p><b>Tea </b><i>€2.20</i></p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Soft Drinks</h3>
        </div>

        <div class="text-center">
            <p><b>Coca Cola | Diet Coke | Coke Zero | Fanta | Sprite | Orange or Apple Juice </b><i>€2.20</i></p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Beer</h3>
        </div>

        <div class="text-center">
            <p><b>Pale IPA (bottle)</b><i>€6.50</i></p>
            <p><b>Guinness (pint)</b><i>€5.50</i></p>
            <p><b>Heineken (pint)</b><i>€5.50</i></p>
            <p><b>Peroni (bottle)</b><i>€6</i></p>
        </div>

        <div class="col-12 mt-5">
            <hr class="my-5">
            <h3 class="text-center">Wine</h3>
        </div>

        <div class="text-center">
            <p><b>House Red </b><i>Glass €7 / Bottle €18</i></p>
            <p><b>House white </b><i>Glass €7.50 / Bottle €19</i></p>
        </div>

        <div class="col-12 mt-5 border">
            <div class="row">
                <div class="col h5">Mark's Kitchen</div>
                <div class="col h5 text-right">For more info: 085 CALL MRK</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}