{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card-m-4">
                <div class="card-body">
                    <div>
                        {% if "placeholder" in contact.image.url %}
                        <img class="card-image-top img-fluid rounded"
                            src="https://cdn.pixabay.com/photo/2020/09/09/07/20/review-5556833_1280.jpg">
                        {% else %}
                        <img class="card-image-top img-fluid rounded" src="{{ contact.image.url }}">
                        {% endif %}
                        <div>
                            <p class="author">Author: {{ contact.name }}</p>
                        </div>
                    </div>
                    <h2 class="card-title">{{ contact.title }}</h2>
                    <p class="card-text">{{ contact.body }}</p>
                    <hr />
                    <p class="card-text text-muted h6">{{ contact.created_on }}</p>
                </div>
                {% if user.is_authenticated and user == contact.name %}
                <div class="card-footer">
                    <a class="btn btn-primary text-uppercase" href="#">Edit Review</a>
                    <a class="btn btn-primary text-uppercase" href="#">Delete Review</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}